<%= form_with(model: [@project, @comment], remote: true) do |form| %>
  <%= render 'layouts/errors', object: @comment %>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_field :body, class: "form-control", id: :comment_body %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn-btn primary" %>
  </div>
<% end %>
