  <h1>Time Logs</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% timelogs.each do |timelog| %>
          <tr>
            <td><%= timelog.date %></td>
            <td><%= timelog.hours %></td>
            <td>
              <%= link_to(edit_project_time_log_path(@project, timelog), remote: true, class: "btn btn-info btn-md"){icon_of('glyphicon-edit')} %>
              <%= render 'layouts/ajax' %>
              <%= link_to(project_time_log_path(@project, timelog), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-md"){icon_of('glyphicon-trash')} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
