<%= form_with(model: @project, html: { multipart: true}, local: true) do |form| %>
  <%= render 'layouts/errors', object: @project %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cost %>
    <%= form.number_field :cost, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <div class='input-group date datepicker'>
      <%= form.text_field :start_date, class: "form-control" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Project.status_map, selected: @project.status || nil), {}, {include_blank: true, class: "form-control dropdown"} %>
  </div>

  <div class="form-group">
    <%= form.label :client %>
    <%= form.select :client_id, options_from_collection_for_select(Client.all, "id", "email", @project.client_id), {}, {include_blank: true, class: "form-control dropdown"} %>
  </div>

  <div class="form-group">
    <%= form.label :Users %>
    <%= form.collection_select(:user_ids, User.all, :id, :email, {}, {multiple: true, class: "form-control select2"}) %>
  </div>

  <h2>Attachments</h2>
  <div class="form-group">
    <%= link_to_add_association 'Add file', form, :attachments %>
    <%= form.fields_for :attachments do |attachment| %>
        <%= render 'attachment_fields', f: attachment %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
