<%= form_tag(projects_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<h1>Projects</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Client</th>
        <th>Start Date</th>
        <th>Cost</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title.humanize %></td>
          <td><%= project.description %></td>
          <td><%= project.status.humanize %></td>
          <td><%= project.client.name %></td>
          <td><%= project.start_date %></td>
          <td><%= project.cost %></td>
          <td>
            <%= link_to(project_path(project), class: "btn btn-info btn-md"){icon_of('glyphicon-eye-open')} %>
            <%= link_to "Add Timelog", new_project_time_log_path(project), remote: true, class: "btn btn-primary" if current_user.user? %>
            <%= link_to(edit_project_path(project), class: "btn btn-info btn-md", data: { no_turbolinks: true }){icon_of('glyphicon-edit')} unless current_user.user? %>
            <%= link_to(project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-md"){icon_of('glyphicon-trash')} if current_user.admin? %>
            <%= link_to "Add Payment", new_project_payment_path(project), remote: true, class: "btn btn-primary" if current_user.manager? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to('New Project', new_project_path, data: { no_turbolinks: true }, class: "btn btn-primary") unless current_user.user? %>
<%= render 'layouts/modal' %>
