<p>
  <strong>Name:</strong>
  <%= @project.title.humanize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status.humanize %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @project.cost %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client.name %>
</p>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary" unless current_user.user? %>
<%= link_to 'Back', projects_path, class: "btn btn-info" %>

<% unless current_user.user? %>
  <h1>Payments</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @project.payments.each do |payment| %>
          <tr>
            <td><%= payment.amount %></td>
            <td><%= payment.date %></td>
            <td>
              <%= link_to(edit_project_payment_path(@project, payment), class: "btn btn-info btn-md"){icon_of('glyphicon-edit')} if current_user.manager? %>
              <%= link_to(project_payment_path(@project, payment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-md"){icon_of('glyphicon-trash')} if current_user.admin? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
