<h1><%= Project %></h1>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Title:</strong></td>
      <td><%= @project.title.humanize %></td>
    </tr>
    <tr>
      <td><strong>Description:</strong></td>
      <td><%= @project.description %></td>
    </tr>
    <tr>
      <td><strong>Status:</strong></td>
      <td><%= @project.status.humanize %></td>
    </tr>
    <tr>
      <td><strong>Start Date:</strong></td>
      <td><%= @project.start_date %></td>
    </tr>
    <tr>
      <td><strong>Cost:</strong></td>
      <td><%= @project.cost %></td>
    </tr>
    <tr>
      <td><strong>Client:</strong></td>
      <td><%= @project.client.name %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary btn-md" unless current_user.user? %>
<%= link_to 'Back', projects_path, class: "btn btn-info btn-md" %>

<% unless current_user.user? %>
  <%= render 'payments/payments', payments: @project.payments.latest %>
  <%= link_to 'View All', all_payments_project_path, class: "btn btn-info btn-md" %>
<% end %>
<% if current_user.user? %>
  <%= render 'time_logs/timelogs', timelogs: @project.time_logs.latest %>
  <%= link_to 'View All', all_time_logs_project_path, class: "btn btn-info btn-md" %>
<% end %>
