<!DOCTYPE html>
<html>
  <head>
    <title>Project Managment System</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= render 'layouts/header' %>
  </header>
  <body>
    <div class="container">
      <div class='flash-messages'>
        <%= render 'layouts/alerts' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
